# Frontend Configuration (Vite)
VITE_API_URL="http://localhost:8000/api"
FRONTEND_URL="http://localhost:3000"

# Backend Configuration
MONGO_URI=Your_Mongo_URL
DB_NAME=Your_DB_Name
JWT_SECRET=Your_JWT_Secret
JWT_EXPIRE_MINUTES=60

SMTP_EMAIL=Your_Mail_ID
SMTP_PASSWORD=Your_Password

# NetSuite Configuration
NETSUITE_BASE_URL=Your_NetSuite_Base_URL
NETSUITE_GET_SCRIPT=customscript_rg_get_rest_pai
NETSUITE_POST_SCRIPT=customscript_rg_post_rest_pai
NETSUITE_DEPLOY=1

NETSUITE_CONSUMER_KEY=YOUR_KEY
NETSUITE_CONSUMER_SECRET=YOUR_SECRET
NETSUITE_TOKEN=YOUR_TOKEN
NETSUITE_TOKEN_SECRET=YOUR_TOKEN_SECRET
NETSUITE_REALM=6738288_SB1